{% extends 'ext_base.html' %}
{% load highlight %}
{% block html_top %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock html_top %}
{% block page_title %}Results{% endblock page_title %}
{% block content %}
    <div class="container">
        <style>
            .badge{
                background-color: #d6612a;
            }
            .highlighted{
                background-color: #336699;
            }
        </style>

        <h2>Search Results for <span id="search-term" style="color:#2ad6b7;"></span></h2>
        <p id="result-h3"></p>
        <div id="tab-div">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active and-tab"><a href="#and" role="tab" data-toggle="tab">And Results <span class="badge">{{ and_results|length }}</span></a></li>
              <li class="or-tab"><a href="#or" role="tab" data-toggle="tab">Or Results <span class="badge">{{ or_results|length }}</span></a></li>
            </ul>
        </div>
        <form method="get" action=".">
            {% if query %}
                <div class="content and-div">
                    {% for result in and_results %}
                        <p>
                            <a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />

                            {% if result.model_name == "magiccard" %}

                                Magic Card<br>
                                Set: {% highlight result.set with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                Type: {% highlight result.type with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% if result.subtype != None %}
                                    Subtype: {% highlight result.subtype with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.ctext and result.ctext != None %}
                                    Text: {% highlight result.ctext with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.ftext and result.ftext != None %}
                                    Flavor Text: {% highlight result.ftext with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}

                            {% elif result.model_name == "magicset" %}

                                Magic Set<br>
                                Set ID: {% highlight result.ID with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                Release Date: {% highlight result.release with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% if query in result.details and result.details != None %}
                                    Details: {% highlight result.details with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.story and result.story != None %}
                                    Story: {% highlight result.story with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}

                            {% elif result.model_name == "magictype" %}

                                Magic Type<br>
                                {% if query in result.description and result.description != None %}
                                    Description: {% highlight result.description with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.subtypes %}
                                    Subtypes:
                                    {% for subtype in result.subtypes %}
                                        {% if query in subtype %}
                                            {% highlight subtype with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <p>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                {% endif %}

                            {% endif %}
                        </p>

                    {% empty %}
                        <p>No results found.</p>
                    {% endfor %}
                </div> <!-- and-div -->
                <div class="content or-div" style="display:none;">
                    {% for result in or_results %}
                        <p>
                            <a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />

                            {% if result.model_name == "magiccard" %}

                                Magic Card<br>
                                Set: {% highlight result.set with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                Type: {% highlight result.type with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% if result.subtype != None %}
                                    Subtype: {% highlight result.subtype with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.ctext and result.ctext != None %}
                                    Text: {% highlight result.ctext with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.ftext and result.ftext != None %}
                                    Flavor Text: {% highlight result.ftext with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}

                            {% elif result.model_name == "magicset" %}

                                Magic Set<br>
                                Set ID: {% highlight result.ID with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                Release Date: {% highlight result.release with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% if query in result.details and result.details != None %}
                                    Details: {% highlight result.details with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.story and result.story != None %}
                                    Story: {% highlight result.story with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}

                            {% elif result.model_name == "magictype" %}

                                Magic Type<br>
                                {% if query in result.description and result.description != None %}
                                    Description: {% highlight result.description with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <br>
                                {% endif %}
                                {% if query in result.subtypes %}
                                    Subtypes:
                                    {% for subtype in result.subtypes %}
                                        {% if query in subtype %}
                                            {% highlight subtype with query [css_class "highlighted"] [html_tag "span"] [max_length 200] %} <p>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                {% endif %}

                            {% endif %}
                        </p>

                    {% empty %}
                        <p>No results found.</p>
                    {% endfor %}
                </div> <!-- or-div -->
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </form>

    </div> <!-- End container content div -->
    <script>
        // click event for and tab
        $('.and-tab').click(function(){
            $('.or-div').slideUp(function(){
                $('.and-div').slideDown();
            });
        });
        // click event for or tab
        $('.or-tab').click(function(){
            $('.and-div').slideUp(function(){
                $('.or-div').slideDown();
            });
        });

        // Shows total search results
        // If no search then hide everything
        $(document).ready(function(){
            var searchTotal = {{ and_results|length}} + {{ or_results|length }};
            var searchTerm = "{{ query }}";
            $('#search-term').text(searchTerm);
            $('#q').attr('placeholder', searchTerm );

            if(searchTotal > 0){
                $('#result-h3').text("About or exactly "+ searchTotal + " results");
            }else{
                $('#tab-div').hide();
                $('.and-div').hide();
                $('.or-div').hide();
                $('#result-h3').text("No known results.");

            }
        });

    </script>
{% endblock content %}

