{% extends "ext_base.html" %}
{% block html_top %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock html_top%}
{% block page_title %}Page not found - MtG Guru {% endblock page_title %}
{% block content %}
	<div id="container" align="center" style="padding-top: 40px">
	    <h1 > 404 error - not found</h1>
	    <img src="../static/other_images/404_1.jpg" class="img-responsive" alt="Responsive image">
	    <h4 > Don't worry, our maintenance staff is working on it.</h4>
        <h4><a href="http://ni42.pythonanywhere.com" >Home</a></h4>
	</div>
{% endblock content %}