{% extends "ext_base.html"%}
{% block html_top %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock html_top %}
{% block page_title%}How To Play{% endblock %}
{% block howto_active %}active{% endblock howto_active %}
{% block content %}


<div class="container theme-showcase" role="main" style="padding:25px;">

    <div class=jumbotron>
    <h1>How to play Magic</h1>
    <p>
        <b>Magic: The Gathering</b> (<b>MTG</b>; also known as <b>Magic</b>) is a <i>trading card game</i> created by <i>Richard Garfield</i> and first published in 1993 by <i>Wizards of the Coast</i>.
        Magic was the first trading card game produced and it continues to thrive, with approximately twelve million players as of 2011. Magic can be played by two or
        more players each using a deck of 60+ printed cards or a deck of virtual cards through the Internet-based Magic: The Gathering Online or other programs.
    </p>
    <p>
        Each game represents a battle between wizards known as "planeswalkers", who employ spells, artifacts, and creatures depicted on individual Magic cards to
        defeat their opponents. Although the original concept of the game drew heavily from the motifs of traditional fantasy role-playing games such as Dungeons &
        Dragons, the gameplay of Magic bears little similarity to pencil-and-paper adventure games, while having substantially more cards and more complex rules than many other card games.
    </p>
    <p>
        Below are a few introductory videos that can help you get started.
    </p>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/GadqHggATe8?rel=0"></iframe>
    </div>
    <br><br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/mCGJ_UUtS1Q?rel=0"></iframe>
    </div>
    <br><br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Jik47gv8dn4?rel=0"></iframe>
    </div>
    <br><br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qoO0fFAVXzE?rel=0"></iframe>
    </div>
    <br><br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fG3eXBccyWg?rel=0"></iframe>
    </div>
    <br><br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/5FTAbftngf0?rel=0"></iframe>
    </div>

</div> <!-- /container -->



{% endblock %}