{% extends "ext_base.html" %}
{% block html_top %}
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Magic Set Image Gallery with jQuery" />
    <meta name="keywords" content="jquery, carousel, image gallery, slider, responsive, flexible, fluid, resize, css3" />
	<meta name="author" content="Codrops" />
{% endblock html_top%}
{% block page_title %}Magic Cards{% endblock %}
{% block import_css %}
    <link rel="stylesheet" type="text/css" href="../static/css/ela-elastislide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ela-style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ela-demo.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ela-reset.css" />
{% endblock %}
{% block head_content %}
    {% verbatim %}
        <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
            <div class="rg-image-wrapper">
                {{if itemsCount > 1}}
                    <div class="rg-image-nav">
                        <a href="#" class="rg-image-nav-prev">Previous Image</a>
                        <a href="#" class="rg-image-nav-next">Next Image</a>
                    </div>
                {{/if}}
                <div class="rg-image"></div>
                <div class="rg-loading"></div>
                <div class="rg-caption-wrapper">
                    <div class="rg-caption" style="display:none;">
                        <p></p>
                    </div>
                </div>
            </div>
        </script>
    {% endverbatim %}
{% endblock head_content %}
{% block cards_active %}active{%  endblock cards_active%}
{% block content %}
	<div class="container">
		<div class="header">
			<div class="clr"></div>
		</div><!-- header -->
		<div class="content">
			<h1 style="padding:35px;font-size:35px">Magic Cards Page <span style="font-size:15px;">A gallery of randomly selected cards from the database.</span></h1>
			<div id="rg-gallery" class="rg-gallery">
				<div class="rg-thumbs">
					<!-- Elastislide Carousel Thumbnail Viewer -->
					<div class="es-carousel-wrapper">
						<div class="es-nav">
							<span class="es-nav-prev">Previous</span>
							<span class="es-nav-next">Next</span>
						</div>
						<div class="es-carousel">
							<ul style="width: 3898px; display: block; margin-left: -2640px;">
								{% for card_id, set_id in cards_and_sets %}
								    <li style="margin-right: 3px; width: 69px;"><a><img src="../ni42/{{set_id}}/{{card_id}}.full.jpg" {{set_id|urlencode}} {{card_id|urlencode}} data-large="../ni42/{{set_id}}/{{card_id}}.full.jpg" {{set_id|urlencode}} {{card_id|urlencode}} alt="{{card_id}}" {{card_id|urlencode}} data-href="http://ni42.pythonanywhere.com/cards/id={{card_id}}" {{card_id|urlencode}} /></a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- End Elastislide Carousel Thumbnail Viewer -->
				</div><!-- rg-thumbs -->
			</div><!-- rg-gallery -->
		</div><!-- content -->
	</div><!-- container -->
{% endblock content %}
{% block import_js %}
    <script type="text/javascript" src="../static/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../static/js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="../static/js/gallery.js"></script>
{% endblock %}